body {
    margin: 0;
    /*
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    */

    /* Full viewport height */
    background-color: #222;
    font-family: Arial, sans-serif;
    color: #eee;
}

h1 {
    text-align: center;
    margin: 20px 0;
}

canvas {
    display: block;
    aspect-ratio: 16 / 9;
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    border: 1px solid #555;
}

pre {
    background: #201929;
    border: 1px solid #000000;
    border-left: 3px solid #490d4d;
    border-radius: 10px;
    color: #95ccb5;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}

.code-snippet {

}

.section {
    padding: 25px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.section h4 {
    text-align: center;
    margin: 0 0 20px 0;
    color: #fff;
}

.content-row {
    display: flex;
    gap: 30px;
    align-items: center;
    width: 100%;
}

.canvas-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.details {
    flex: 1;
    padding: 20px;
    background-color: #333;
    border-radius: 8px;
    border: 1px solid #555;
    line-height: 1.6;
    align-self: center;
}

.details h4 {
    margin-top: 0;
    margin-bottom: 15px;
    color: #fff;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
    .content-row {
        flex-direction: column;
        gap: 20px;
    }
    
    .canvas-container, .details {
        flex: none;
        width: 100%;
    }
    
    .details {
        margin-top: 20px;
    }
}

.controls {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.control-group {
    margin-bottom: 10px;
}

input[type="range"] {
    width: 200px;
}

label {
    margin-right: 10px;
}